<div class="home">
    <header>
        <h1>Pankaj Kumar Jha</h1>
        <p>Frontend Architect | Project Lead | Angular Specialist</p>
    </header>
     <main>
        <section id="about">
            <h2>About Me</h2>
            <p>
                A seasoned Frontend Architect with 16 years of experience delivering cutting-edge, user-friendly web applications.
                Specializing in Angular for the past 8 years, I excel in designing scalable, maintainable, and high-performance solutions.
            </p>
        </section>

        <section id="skills">
            <h2>Technical Expertise</h2>
            <div class="skills-grid">
                <div>
                    <h3>Core Frontend Technologies</h3>
                    <ul>
                        <li>HTML5, CSS3, JavaScript (ES6+), TypeScript</li>
                        <li>Angular (2+ to latest), React, Vue.js (basic exposure)</li>
                        <li>NgRx, Redux,Angular Material,ag-grid, Bootstrap, Tailwind CSS</li>
                          <li>ngx-echarts(Apache echarts),D3 (chart),Kendo UI
                            </li>
                    </ul>
                </div>
                <div>
                    <h3>Complementary Skills</h3>
                    <ul>
                        <li>RESTful APIs integration and GraphQL</li>
                        <li>Progressive Web Apps (PWA)</li>
                        <li>Component-Driven Development (CDD)</li>
                        <li>Accessibility (WCAG Compliance)</li>
                    </ul>
                </div>
                <div>
                    <h3>Tools</h3>
                    <ul>
                        <li>Eclipse IDE.
                            vsCode,
                            sublime,
                            bracket,
                            notepad ++,
                            flashDevelop Editor,
                            SVN,
                            Bitucket,
                            Github ,
                            JIRA,
                            Confluence 
                            </li>
                        
                    </ul>
                </div>
            </div>
        </section>

        <section id="experience">
            <h2>Professional Experience</h2>
            <article>
                <h3>Project lead | [Persistent Systems Limited ]</h3>
                <p><strong>Years:</strong> [7 ( working)]</p>
                <ul>
                    <li>Architected and implemented enterprise-level Angular applications.</li>
                    <li>Led a team of 10+ developers and conducted code reviews.</li>
                    <li>Technical issue management & knowledgebase contributions.</li>
                    <li>Design Document and Code review</li>
                    <li>Client communication/li>
                </ul>
                
            </article>
            <article>
                <h3>Accociate Manager- Learning Technology | [Harbinger Group ]</h3>
                <p><strong>Years:</strong> [5.5]</p>
                <ul>
                    <li>Managed 15-20 developers</li>
                    <li>Developed Reusabled Elearning Content player using html5, CSS3 and Jquery</li>
                    <li>Developed resuabled interactive templates using angularJS</li>
                    <li>Modification of Moodle LMS as per client requirment</li>
                    <li>Research and development of AR application using Unity3d,  for one of the client. 
                    </li>
                    <li>Design Document and Code review</li>
                    <li>Client communication</li>

                </ul>
            </article>
            <article>
                <h3>Lead Developer | [Upside Learning Solutions Pvt. Ltd ]</h3>
                <p><strong>Years:</strong> [3.5]</p>
                <ul>
                    <li>Managed 3-5 developers</li>
                    <li>Design Document and Code review</li>
                    <li>Client communication</li>

                </ul>
            </article>
        </section>

          <section id="contact">
            <h2>Contact Me</h2>
            <p>Email: <a href="mailto:pankajyourjha@gmail.com">pankajyourjha&#64;gmail.com</a></p>
            <p>Phone: <a href="#">+919823739601</a></p>
          </section>
    </main>
    <footer>
        <p>© 2024 Pankaj kumar jha. All rights reserved.</p>
    </footer>
  </div>
  