.fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.header-main {
  background-color: #fff;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  display: block;
  nav {
    box-shadow: 0 0.5rem 1rem #2c33491a;
    height: 4.75rem;
    align-items: center;
    justify-content: flex-start;
    display: flex;
  }
}
