<div class="main-container scrollable">
  <div class="layout">
    <app-header (onHeaderItemClicked)="onHeaderItemClicked($event)" ></app-header>

    <div class="main-body">
      @if(menuOpen()){
      <div class="menu-sidebar"  [ngClass]="{'menu-fixed': responsiveService.isMobile()}">
        <div class="sidebar-main">
          <div class="menu-scroll scrollable">
            <app-sidebar (onItemClicked)="onItemSideMenuClicked($event)"></app-sidebar>
          </div>
        </div>
      </div>
    }
      <div class="content">
         <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div> 

<!-- [ngClass]="{ 'sidebar-fixed': isPhone$ | async }"-->