<ul class="menu-items">
  @for( item of menuItems(); track item ){
  <li class="menu-item">
    <a (click)="expandCollapseMenu(item)"
      ><span>{{ item.title }}</span>
      <span>
        @if(item.expanded){
        <mat-icon class="arrow">expand_more</mat-icon>
        } @else {
        <mat-icon class="arrow">expand_less</mat-icon>
        }
      </span>
    </a>
    @if(item.expanded && item.subMenu){
    <ul class="menu-items" @fade>
      @for( sumItem of item.subMenu; track sumItem ){
      <li class="menu-item sub-menu">
        <a (click)="itemClick(sumItem)">{{ sumItem.title }}</a>
      </li>
      }
    </ul>
    }
  </li>
  }
</ul>
