.main-container {
  overflow: auto;
  height: 100vh;
  display: block;
  max-width: 1920px;
  margin: 0 auto;
  .layout {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    line-height: 1.25rem;
    min-height: 100vh;
    min-width: 300px;
    .main-body {
      padding-top: 4.75rem;
      min-height: 100vh;
      display: flex;
      flex: 1;
      -ms-flex: 1 1 auto;
      flex-direction: row;
      .menu-sidebar {
        width: 16rem;
        background-color: #fff;
        box-shadow: 0 0.5rem 1rem #2c33491a;
        color: #222b45;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        .sidebar-main {
          position: fixed;
          transform: translateZ(0);
          display: flex;
          flex-direction: column;
          top: 4.75rem;
          height: calc(100vh - 4.75rem);
          width: 16rem;
          .menu-scroll {
            overflow-y: auto;
            overflow-x: hidden;
            flex: 1;
            padding: 1.25rem;
            position: relative;
          }
        }
      }
      .content {
        display: flex;
        flex: 1;
        -ms-flex: 1 1 auto;
        flex-direction: column;
        min-width: 0;
        padding: 2.25rem 2.25rem 0.75rem;
      }
    }
  }
}
